name: Test git-secrets SARIF action

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run converter action on example file
        uses: ./
        with:
          input-file: examples/git-secrets-output.txt
          output-file: examples/git-secrets-output.sarif
